body {
  background-color: rgba(201, 235, 232, 0.892);
}
.navbrand {
  width: 100%;
  background-color: #184a45ff;
  color: rgba(201, 235, 232, 0.892);
  padding-top: 1em;
  padding-bottom: 1em;
}

.finder {
  color: #fc766aff;
}
.showcase-txt-lead {
  font-size: 50px;
  font-weight: bold;
}
.showcase-text-follow {
  font-size: 18px;
}
.showcase-txt {
  padding-left: 4em;
  padding-right: 6em;
}
.w3-card-4 {
  background-color: white;
  padding-top: 7px;
  padding-bottom: 5px;
}
.w3-card-4 {
  padding-left: 7px;
  padding-right: 7px;
}
.w3-container {
}
.button {
  display: inline-block;
  padding: 13px 22px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #184a45ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {
  background-color: #16998c;
}
.start-text {
  background-color: rgb(237, 210, 207);
  font-weight: bold;
  font-size: 22px;
}
.start {
  background-color: rgb(237, 210, 207);
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  transform: translateY(4px);
}
.place-cards {
  background-color: rgb(237, 210, 207);
  padding-top: 2em;
  padding-bottom: 5em;
}