{{#partial "content"}}
    <div class="showcase d-md-flex pt-5 align-items-center">
        <div class="showcase-txt">
            <p class="showcase-txt-lead">Where the Journey Begins</p>
            <p class="showcase-text-follow text-muted">
                Plan and book your perfect trip with expert advice, travel tips,
                destination information and inspiration from us.<br />
                We haven't been everywhere but it's on our List!
            </p>
            <p class="showcase-text-follow text-muted">
               Get started by sharing your experience on your last vacation
            </p>

            <div class="pt-5">
                <button class="button"> <a href="/places/new">Add Destination</a> </button>
            </div>
        </div>
        <div class="showcase-image">
            <img src="/img/showcase.png" alt="" />
        </div>
    </div>

    <div class="start">
        <p class="text-center start-text pt-5">Start Exploring</p>


    {{#each places}}
    <div class="place-cards row d-flex">
            <a href="">
                <div class="w3-container col-sm-3">
                    <div class="w3-card-4" style="width: 70%">
                        <header class="w3-container w3-light-grey">
                            <h3><img
                                    src="https://picsum.photos/200"
                                    alt="Avatar"
                                    class="w3-left w3-circle w3-margin-right"
                                    style="width: 60px"
                            />{{placeName}}</h3>
                            <p class="text-muted"><i class="fa fa-map-marker" aria-hidden="true"></i> {{placeLocation}}</p>
                        </header>
                        <div class="w3-container">
                             <p>
                                {{placeDescription}}
                            </p>

                        </div>

                    </div>
                </div>
            </a>
    {{/each}}
        </div>
    </div>

{{/partial}}
{{> "layout.hbs"}}