{{#partial "title"}}PREVIEWS{{/partial}}

{{#partial "content"}}
    <h1>Tell us about your experience</h1>
    <div class="container">
        <div>
            <div class="mb-3">
                <label for = "inputName" class="form-label">Tell us you name</label>
                <input type="text" class = "form-control" id="inputName">
            </div>

            <div class="mb-3">
                <label for = "inputLocation" class = "form-label">Location</label>
                <input type="text" class = "form-control" id="inputLocation">
            </div>

            <div class="mb-3">
                <label for="inputRating" class="form-label">Rating(From 1-5)</label>
                <input type="number" class="form-control" id="inputRating">
            </div>

            <div class ="mb-3">
                <label for="inputReview" class="form-label">Tell us about your experience</label>
                <textarea class="form-control" id="inputReview" rows="3"></textarea>
            </div>

            <div class="text-center">
                <button type="submit" class = "btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    </div>
{{/partial}}

{{> layout.hbs}}