{{partial "title"}}REVIEWS{{partial}}

{{#partial "content"}}
    <h1>Tell us about your experience</h1>
    <div class="container">
        <div>
            <div class="mb-3">
                <label for = "inputName" class="form-label">Name</label>
                <input type="text" class = "form-control" id="inputName">
            </div>

            <div class="mb-3">
                <label for = "inputLocation" class = "form-label">Location</label>
                <input type="text" class = "form-control" id="inputLocation">
            </div>

            <div class="mb-3">
                <label for="inputRating" class="form-label">Rating(From 1-5)</label>
                <input type="number" class="form-control" id="inputRating">
            </div>
        </form>
    </div>